In [3]:
import pandas as pd
import numpy as np

In [11]:
data = {"grammer":["Python","C","Java","GO",np.nan,"SQL","PHP","Python"],
       "score":[1,2,np.nan,4,5,6,7,10]}
fp = pd.DataFrame(data)
fp

  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0

In [15]:
fp[fp['grammer']=='Python']

  grammer  score
0  Python    1.0
7  Python   10.0

In [17]:
fp.shape

(8, 2)

In [18]:
fp.head()

  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0

In [22]:
row={'grammer':'Perl','popularity':6.6}
fp.append(row,ignore_index=True)
fp

TypeError: Can only append a Series if ignore_index=True or if the Series has a name